body{
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
}
main{
    flex-grow: 1;
}
header{
    padding: 1rem;
}

.lang_button{
    background-color: gray;
}

main{
    width: 100%;
    min-height: 10rem;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content:space-evenly;
    align-items: stretch;
}

#left-section, #right-section{
    outline: 2px solid lightgray;
    outline-offset: -1px;
    width: 50%;
    padding: 1rem;
}

#left-section > h1{
    margin-top: 4rem;
}
#left-section > p{
    margin-bottom: 1.75rem;
}


#right-section{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content:center;
    gap: 0.5rem;
}

#categories{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.5rem;
}

#categories-left, #categories-right{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 0.5rem;
}

@media (max-width: 980px) {
    #categories-left, #categories-right{ width: 100%; }
}
@media (min-width: 980px) {
    #categories-left, #categories-right{ width: 49%; }
}

.category{
    padding: 0.75rem;
    border: 2px solid lightgray;
}

.category h2{
    cursor: pointer;
    margin: 0;
}

.articles{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin-top: 0.75rem;
}

article{
    width: 4rem;
    height: 4rem;
    cursor: pointer;
}

article img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#right-section img, #right-section iframe{
    width: 100%;
    height: auto;
    object-fit: fill;
}
#right-section p{
    padding: 0.5rem;
    border: 2px solid lightgray;
    margin: 0;
}

/* Cache tout ce qui n'est pas une image dans un article */
article p, article iframe{
    display: none;
}
